.top {
top: 50px;
height: 100px;
z-index: 6000;
right: 30px;
position: fixed;	
}

.small_logo {
margin-top: 7px;
float: left;
background-image: url(../img/ekans_gold.png);
width: 35px;
height: 36px;
}

/* ///////////////////////////////////////////////////////////////////// 
TOP
/////////////////////////////////////////////////////////////////////*/



/* ///////////////////////////////////////////////////////////////////// 
NAV
/////////////////////////////////////////////////////////////////////*/
.hidden_reveal {
max-width: 98%;
z-index: 1000;
}

.navigation {
position: relative;
max-width: 1140px;
margin: 0 auto;
}

.navigation a {
color: #fff;
font-size: 16px;
letter-spacing: 3px;
text-transform: uppercase;	
text-decoration: none;
padding: 0 1px 5px 2px;
}