.about-1 {
	background: url("../img/oma.png");
/*	background-attachment: fixed;
*/	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	position:relative;
	height: 500px;
	margin-top: -500px;
}

.about_triangle1 {
	background: url("../img/arrow3.png");
	background-attachment: fixed;
	background-repeat:no-repeat;
	height: 500px;
}


.about-2 {
	background: url("../img/pkn2.png");
/*	background-attachment: fixed;
*/	background-origin: initial;
	background-clip: initial;
	background-size: 100%;
	background-repeat:repeat;
	position:relative;
	height: 550px;
	margin-top: -550px;
}

/*.about-2 { 
	background: url("../img/oma.png");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	height: 550px;
}*/


.about_triangle2 {
	background: url("../img/arrow.png");
	background-attachment: fixed;
	background-repeat:no-repeat;
	height: 550px;
}

.members_header {
	background: url('../img/shape_about.svg') no-repeat center center;*/
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:100% 0; 
	min-height: 100px;
}


.partners_header {
	background: url('../img/shape_partners.svg') no-repeat center center;*/
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:100% 0; 
	min-height: 100px;
}

.partners_1 {
	background: url('../img/flyoverpink.jpg') no-repeat center center;*/
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:100% 0; 
	min-height: 300px;
	margin-top: -300px;
}

.partners_triangle {
	background: url("../img/arrow3.png");
	background-attachment: fixed;
	background-repeat:no-repeat;
	height: 300px;
}

.about_header {
	background: url('../img/shape_about.svg') no-repeat center center;*/
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:100% 0; 
	min-height: 100px;
}

.join_header {
	background: url('../img/header_join.svg') no-repeat center center;*/
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:100% 0; 
	min-height: 100px;
}

.join_1 {
	background: url('../img/flyovergray.jpg') no-repeat center center;*/
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:100% 0; 
	min-height: 300px;
	margin-top: -300px;
}

.airport {
	background: url("../img/airportcodes.svg");
	background-attachment: fixed;
	background-repeat:no-repeat;
	height: 550px;
}







@media all and (max-width: 1200px) {
.sponsors-2 {
height: 400px;
margin-top: -400px;
}

.sponsors_triangle {
  height: 400px;
}
}

@media all and (max-width: 1000px) {
.sponsors-2 {
height: 350px;
margin-top: -350px;
}

.sponsors_triangle {
  height: 350px;
}
}

@media all and (max-width: 800px) {
.sponsors-2 {
height: 300px;
margin-top: -300px;
}

.sponsors_triangle {
  height: 300px;
}

.partners-2 {
	height: 300px;
	margin-top: -300px;
}

.partners_triangle {
	height: 300px;
	background: url("../img/arrow4.png");
}
}

@media all and (max-width: 600px) {
.sponsors-2 {
height: 200px;
margin-top: -200px;
}

.sponsors_triangle {
  height: 200px;
}

.partners-2 {
	height: 200px;
	margin-top: -200px;
}

.partners_triangle {
	height: 200px;
}
}