/*
 * Initial styles and design by Jake Welchert (jakewlechert.com)
 * Styles converted to SCSS and extend upon by Christopher Kollars (christopherkollars.com)
 */

@import "vendor/bourbon/bourbon";
@import "normalize";
@import "fixes";
@import "base";

@import "parallax";


html{
  color: $grey5;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
body{ @extend .font-sans; }


/* #STRUCTURE
========================================================================== */

.wrapper{
  @include clearfix;
  max-width: 1140px;
  margin: 0 auto;
  @media screen and (max-width: 71.250em){
    padding-left: 30px;
    padding-right: 30px;
  }
}
.interior {
  @include clearfix;
  background-color: rgba($grey, .6);
  padding: 80px 0;
  &.border{
    border-bottom: 1px solid $grey2;
  }
  .column{
    float: left;
    width: 40%;
    padding-right: 40px;
    text-align: right;
    @media screen and (max-width: 51.875em){
      float: none;
      width: 100%;
      text-align: left;
    }
  }
  .content{
    float: left;
    width: 60%;
    @media screen and (max-width: 51.875em){
      float: none;
      width: 100%;
    }
  }
}
.single-column .content{
  @media screen and (min-width: 40em){
    margin-left: 40%;
  }
}
.mobile-head{ // NOTE: I'm unsure why this is here to show this content on mobile. Ask Jake.
  display: none;
}

/*********** MAIN NAV ***********/
#main-nav {
  @include clearfix;
  min-height: auto;
  background-color: $grey6;
  ul{
    @extend .font-display;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    @media screen and (max-width: 51.875em){
      clear: both;
      display: none;
      float: none;
      width: 100%;
      font-size: em(35);
      text-transform: none;
    }
    @media screen and (min-width: 51.875em){
      li{ float: left; }
    }
    li{ font-size: em(16); }
    a{
      @include transition(all .25s);
      display: block;
      text-align: center;
      padding: 50px 30px;
      @media screen and (max-width: 51.875em){
        padding: 10px;
      }
      &:hover{
        @media screen and (min-width: 51.875em){
          background-color: $grey7;
          -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,.2);
                  box-shadow: inset 0 0 7px rgba(0,0,0,.2);
        }
        @media screen and (max-width: 51.875em){
          color: $primary
        }
      }
    }
  }
  #nav-icon{
    @include transition(color .25s);
    font-size: em(24);
    color: $white;
    float: right;
    padding: 40px 50px;
    cursor: pointer;
    @media screen and (min-width: 51.875em){ display: none; }
    &:hover, &.active{
      color: $primary;
    }
  }
}
#logo a{
  @extend .icon-daoma_logo_white;
  @include transition(all .25s linear);
  width: 96px;
  height: 0;
  overflow: hidden;
  padding-top: 40px;
  float: left;
  margin: 45px 0 0 35px;
  &:hover{ opacity: .5; }
}


/*********** LIST STYLES ***********/
ul{
  li{
    color: $grey6;
    line-height: 1.6;
  }
  h3{
    padding-bottom: 1%;
    border-bottom: 1px solid #d9d9d9; // TODO: Change this to a grey varialbe #d9d9d9
    letter-spacing: 1px;
  }
  h4{
    color: $grey6;
    line-height: 2px;
    letter-spacing: 1px;
  }
}


/* #IMAGE BREAK
====================================================================================*/
.imagebreak{
  position: relative;
  overflow: hidden;
  max-height: 400px;
  border-bottom: 10px solid $primary;
  > div{
    position: absolute;
    background-attachment: fixed;
    z-index: 1;
    width: 100%;
    height: 400px;
    opacity: .8;
    &.triangle1-sml{
      @extend .icon-arrow1_sml;
    }
    &.triangle1-med{
      @extend .icon-arrow1_med;
    }
    &.triangle1-lrg{
      @extend .icon-arrow1_med;
    }
    &.triangle3{
      @extend .icon-arrow3;
    }
  }
  img{
    position: relative;
    z-index: -1;
  }
}


/*********** Board of Directors LIST STYLES ***********/
.board-directors{
  background-color: rgba($grey, .6);
}
.director{
  @extend .wrapper;
  @include clearfix;
  list-style: none outside none;
  padding-top: 40px;
  padding-bottom: 40px;
  &:first-child{
    h5{ font-size: em(37); }
    p{
      font-size: em(20);
      @media screen and (min-width: 20.01em) and (max-width: 40em){
        margin-top: 0;
      }
    }
  }
  img{
    float: left;
    margin-left: 10%;
    border-radius: 50%;
    width: 24%;
    @media screen and (max-width: 48em){
      margin-left: 0;
      width: 30%;
    }
  }
  .content{
    margin-left: 40%;
    float: none;
    width: inherit;
    @media screen and (max-width: 40em){
      width: 100%;
      margin-left: 0;
    }
  }
  h3{
    font-size: em(20);
    padding-top: 20px;
    @media screen and (min-width: 20.01em) and (max-width: 40em){
      padding-top: 10%;
      margin-left: 36%;
      font-size: em(28);
    }
    @media screen and (max-width: 20em){
      font-size: em(18);
    }
  }
  p{
    font-size: em(15);
    line-height: 1.8;
    @media screen and (max-width: 40em){
      margin-top: 18%;
    }
  }
}


/*********** POST PAGE ***********/
.post_pg_body{
  max-width: 900px;
  p { padding-top: 3%; }
  h2{
    font-size: em(55);
    padding-top: 3%;
  }
  h3{
    // font-family: 'intro_lightregular'; TODO: Check type face form original files.
    letter-spacing: 2px;
    font-size: em(25);
    line-height: 1.6;
    text-transform: uppercase;
    color: $grey6;
  }
  h4{
    font-size: em(22);
    line-height: 1.6;
    color: $grey4;
  }
}


/* #FOOTER
========================================================================== */
footer{
  margin-top: 306px;
  nav{ @include clearfix; }
  #ftr-logo{
    @media screen and (min-width: 51.875em){
      position: relative;
      float: left;
      margin-left: 30px;
      margin-top: 40px;
    }
    a{
      @extend .icon-daoma_logo_magenta_w-shdw;
      background-size: contain;
      display: block;
      width: 100px;
      height: 50px;
      text-indent: -9999em;
      @media screen and (max-width: 51.875em){ margin: 20px auto; }
    }
  }
  ul{
    margin: 0;
    padding: 0;
    float: right;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media screen and (max-width: 51.875em){ display: none; }
    li{
      float: right;
      &.twitter a{ @extend .icon-twitter;}
      &.facebook a{ @extend .icon-facebook;}
      &.next a{ @extend .icon-arrow;}
    }
    a{
      @include transition(all .25s linear);
      display: block;
      height: 0;
      width: 120px;
      padding-top: 120px;
      overflow: hidden;
      background-position: center center;
      &:hover{
        -webkit-box-shadow: inset 0 0 10px rgba(240,240,240,1); // TODO: Check to see what grey this is and change to variable.
                box-shadow: inset 0 0 10px rgba(240,240,240,1);
      }
    }
  }
}


/* #HOME PAGE
========================================================================== */

// NOTE: This is the feature for when there isn't any speaker/event being showcased
// .feature{
//   .content{
//     position: absolute;
//     z-index: 1;
//     width: 100%;
//   }
//   h1{
//     @extend .font-thin;
//     @extend .wrapper;
//     color: $white;
//     line-height: 1;
//     font-size: em(130);
//     text-transform: uppercase;
//     padding-top: 28%;
//   }
// }

.feature{
  @include clearfix;
  background-color: $grey;
  > div:first-child{
    position: relative;
  }
  // h1{ @extend .font-sans; }
  .presentor{
    position: absolute;
    top: 22%;
    right: 10%;
    border-radius: 50%;
    border: 1px solid $grey6;
    width: 24%;
  }
  .content{
    @extend .icon-event-circles_lines;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    p{
      @extend .font-display;
      line-height: 1.5;
      color: $white;
      font-size: 30px;
    }
  }
  h1{
    @extend .font-sans;
    @extend .wrapper;
    color: $white;
    line-height: 1;
    font-size: em(120);
    padding-top: 34%;
    strong{ text-transform: uppercase; }
  }
  h3{ text-transform: none; font-size: em(30); }
  .sub-content{
    img{
      width: 50%;
      float: left;
    }
  }
  .info{
    display: table;
    padding-top: 60px;
    padding-bottom: 60px;
    p{
      // float: left;
      display: table-cell;
      padding: 0;
      margin: 0;
      cell-padding: 0;
      width: 30%;
      vertical-align: middle;
      &:first-child{
        @extend .font-book;
        font-size: em(22);
        width: 70%;

        a{ color: $primary; }
      }
      .btn{
        @extend .font-bold;
        float: right;
        font-size: em(18);
        letter-spacing: 1px;
        line-height: 1;
        padding: 20px 100px;
      }
    }
  }
}
.about{
  @extend .icon-shape_grey-triangles;
  background-position: right -80px;
  background-color: $white;
  h1{
    @extend .font-sans;
    text-transform: uppercase;
    font-size: em(52);
    line-height: 1.5;
    padding-bottom: 20px;
    color: $grey7;
    width: 70%;
    border-bottom: 1px solid $grey1;
    @media screen and (max-width: 51.875em){ font-size: em(28); width: 100%; }
  }
  p{
    @extend .font-book;
    padding-top: 30px;
    color: $primary;
    font-size: em(17);
    @media screen and (min-width: 51.88em){ width: 70%; }
  }
}

// NOTE: Featured event that was from the layout A. Not sure if this is going to be used elsewhere.
// .featured-event{
//   padding: 60px 0;
//   article > a{
//     display: block;
//     min-height: 460px;
//     margin-bottom: 60px;
//     h2{
//       position: absolute;
//       z-index: 1;
//       text-transform: none;
//       height: inherit;
//     }
//     strong{
//       text-transform: uppercase;
//     }
//   }
//   .info{
//     @extend .font-display;
//     width: 35%;
//     padding-right: 55px;
//     p{ font-size: em(16); line-height: 2;}
//     strong{ color: $primary; }
//     .btn{
//       width: 300px;
//       margin-top: 40px;
//     }
//   }
//   .description{
//     @extend .font-book;
//     width: 65%;
//     p{ font-size: em(18); }
//     strong{
//       color: $primary;
//     }
//   }
//   h2{
//     font-size: em(124);
//     color: $white;
//   }
// }
.upcoming{
  // background: $grey;
  // padding: 60px 0;
  h2{
    @extend .font-display;
    color: $grey6;
    font-size: em(30);
    text-transform: none;
    margin-bottom: 30px;
  }
}
// TODO: Figure out a solution to float these items and center them vertically. Toying with display: table-cell
.events{
  @include clearfix;
  overflow: hidden;
  text-overflow:ellipsis;
  background: $grey1;
  max-height: 150px;
  margin-top: 20px;
  &:first-child{
    margin-top: 0;
  }
  .date{
    @extend .font-display;
    width: 14%;
    float: left;
    padding: 36px 0;
    background: $primary;
    color: $white;
    font-size: em(25);
    line-height: 1;
    text-align: center;
    span{ @extend .font-bold; font-size: em(30); line-height: 1.3; }
  }
  .thumb{
    float: left;
    width: 40%;
  }
  .content{
    float: left;
    width: 46%;
    height: 95%;
    padding: 0 34px;
    margin: auto;
    h3{
      @extend .font-display;
      text-transform: none;
      color: $grey6;
      font-size: em(24);
      line-height: 1.5;
    }
    p{
      @extend .font-book;
      font-size: em(16);
      line-height: 1.2;
      letter-spacing: none;
    }
  }
}
.classification{
  background-color: rgba($grey, .6);
  padding: 60px 0;
  border-bottom: 1px solid $grey2;
  h5{
    @extend .font-sans;
    font-size: em(37);
    line-height: 1.4;
    margin-left: 40%;
    @media screen and (max-width: 51.875em){
      margin-left: 0;
      font-size: em(30);
    }
  }
  p{
    margin-left: 40%;
    @media screen and (max-width: 51.875em){
      margin-left: 0;
      font-size: em(16);
    }
  }
}
.creative-class{
  @include transition(all .4s linear);
  background-color: rgba($grey, .6);
  padding: 60px 0;
  border-top: 1px solid $grey2;
  &:first-child{ border-top: 0;}
  @media screen and (min-width: 51.875em){
    height: 360px;
    &:hover{
      background-color: $white;
      .content{ opacity: 1; }
      h3{ opacity: 0; }
    }
  }
  .wrapper{
    @include clearfix;
    position: relative;
  }
  h3{
    @extend .font-display;
    @include transition(opacity .4s linear);
    position: absolute;
    text-transform: none;
    font-size: em(75);
    line-height: 1;
    width: 100%;
    padding-left: 40%;
    @media screen and (max-width: 51.875em){
      padding-left: 0;
      position: relative;
      font-size: em(22);
      line-height: 1.5;
      text-transform: uppercase;
      br{ display: none; }
      &.one ~ .content, &.two ~ .content, &.three ~ .content, &.four ~ .content{ background-image: none; }
    }
    &.one ~ .content{ @extend .icon-1; }
    &.two ~ .content{ @extend .icon-2; }
    &.three ~ .content{ @extend .icon-3; }
    &.four ~ .content{ @extend .icon-4; }
  }
  .content{
    @include transition(all .4s linear);
    background-position: 2% 0;
    height: 230px;
    opacity: 0;
    width: 100%;
    float: none;
    @media screen and (max-width: 51.875em){
      height: inherit;
      opacity: 1;
      background-image: none;
    }
    p{
      margin-left: 40%;
      @media screen and (max-width: 51.875em){
        margin-left: 0;
        font-size: em(16);
      }
    }
  }
  @media screen and (min-width: 51.875em){
    .one{ margin-top: 6.5%; }
    .two{ margin-top: 2.5%; }
    .three{ margin-top: 3%; }
    .four{ margin-top: 1%; }
  }
}

.past-speakers{
  // @extend .triangle1-sml;
  // @extend .icon-arrow1_sml;
  @extend .icon-shape_grey-triangles2;
  background-position: right 0;
  background-color: $grey6;
  > div:first-child{
    @extend .icon-arrow1_sml;
    position: absolute;
    background-attachment: fixed;
    z-index: 1;
    width: 100%;
    min-height: 220px;
    opacity: .8;
  }
  .wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
    min-height:220px;
    h2{
      @extend .font-display;
      font-size: em(30);
      text-transform: none;
      @media screen and (min-width: 20em) and (max-width: 40em){ font-size: em(20); }
    }
    p{
      @extend .font-book;
      color: $white;
      @media screen and (min-width: 51.875em){ width: 70%; }
      @media screen and (min-width: 20em) and (max-width: 40em){ font-size: em(16); }
    }
  }
  ul{
    @include clearfix;
    padding: 0;
    margin: 0;
  }
  li{
    position: relative;
    float: left;
    width: 33.33%;
    padding: 1px;
    background: $white;
    @media screen and (max-width: 40em){ width: 50%; }
    @media screen and (min-width: 20em) and (max-width: 29.99em){ width: 100%; }
    &:hover{
      img{ opacity: 1; }
      p{ opacity: 0; }
    }
    img{
      @include transition(all .4s linear);
      opacity: .2;
    }
    p{
      @extend .font-display;
      @include transition(all .2s linear);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 40%;
      height: 20%;
      margin: auto;
      text-align: center;
      color: $grey2;
      @media screen and (max-width: 55em){
        width: 60%;
      }
      span{ color: $primary; }
    }
  }

}

.fadein_content{
  @extend .icon-shape_footer;
  background-position: left bottom;
  // background-size: 60%; TODO: Size the background image so it scales down according to width.
}

#members{
  @extend .icon-flightpath5;
  background-color: $grey;
  background-size: 40%;
  padding: 0;
  @media screen and (max-width: 51.875em){
    background-image: none;
  }
  > div{
    @extend .icon-shape_about;
    @include clearfix;
    background-size: cover;
    min-height: 100px;
    @media screen and (max-width: 40em){
        background-image: none;
      }
    .content{
      padding: 60px 0;
      @media screen and (min-width: 51.875em){
        margin-left: 40%;
        padding: 120px 0;
      }
    }
  }
}
#partners{
  background-color: darken($primary, 2%);
  h1{ @extend .font-display; color: $grey7; }
  p{ @extend .font-display; color: $white; }
  > div{
    @extend .icon-shape_partners;
    background-position: left top;
    background-size: cover;
    > div{
      @extend .icon-flightpath;
      background-position: left top;
      background-size: 40%;
      @media screen and (max-width: 51.875em){
        background: none;
      }
    }
  }
  .content{
    padding: 60px 0;
    @media screen and (min-width: 51.875em){
      margin-left: 40%;
      padding: 120px 0;
    }
  }
}
.members-list {
  h6{
    @extend .font-sans;
    display: list-item;
    list-style: none;
    color: $grey4;
    line-height: 1.5;
    margin: 20px 0;
  }
}
#join{
  > div{
    @extend .icon-header_join;
    background-position: left top;
    background-size: cover;
    background-color: $grey5;
    @media screen and (max-width: 35.5em){
      background-image: none;
    }
    > div{
      @extend .icon-flightpath6;
      background-position: left center;
      background-size: 30%;
      @media screen and (max-width: 51.875em){
        background: none;
      }
    }
  }
  h1, p{
    color: $white;
  }
  .content{
    padding: 60px 0;
    @media screen and (min-width: 51.875em){
      margin-left: 40%;
      padding: 120px 0;
    }
  }
}
.memberships{
  p:first-child{ margin-bottom: 20px; }
  .btn{
    @extend .font-bold;
    font-size: em(12);
    line-height: 1;
  }
  li{
    padding: 40px 0;
    @media screen and (max-width: 51.875em){
      border-top: 1px solid $grey2;
      &:first-child{
        border-top: none;
      }
    }
    &:first-child{ padding-top: 0;}
  }

}
address{
  font-style: normal;
  h3{
    margin: 20px 0;
    border-bottom: 1px solid $grey2;
  }
  h4{
    color: $grey4;
  }
}
.price li{
  color: $grey4;
  font-size: em(20);
}













