.icon-action-campaign { background-image: url(png/action-campaign.png); background-repeat: no-repeat; }

.icon-action-donation { background-image: url(png/action-donation.png); background-repeat: no-repeat; }

.icon-action-event { background-image: url(png/action-event.png); background-repeat: no-repeat; }

.icon-action-petition { background-image: url(png/action-petition.png); background-repeat: no-repeat; }

.icon-action-socialshare { background-image: url(png/action-socialshare.png); background-repeat: no-repeat; }

.icon-action-volunteer { background-image: url(png/action-volunteer.png); background-repeat: no-repeat; }

.icon-arrow { background-image: url(png/arrow.png); background-repeat: no-repeat; }

.icon-bold-text { background-image: url(png/bold-text.png); background-repeat: no-repeat; }

.icon-cog { background-image: url(png/cog.png); background-repeat: no-repeat; }

.icon-comment { background-image: url(png/comment.png); background-repeat: no-repeat; }

.icon-down-arrrow { background-image: url(png/down-arrrow.png); background-repeat: no-repeat; }

.icon-email { background-image: url(png/email.png); background-repeat: no-repeat; }

.icon-facebook-f { background-image: url(png/facebook-f.png); background-repeat: no-repeat; }

.icon-facebook { background-image: url(png/facebook.png); background-repeat: no-repeat; }

.icon-flickr { background-image: url(png/flickr.png); background-repeat: no-repeat; }

.icon-google { background-image: url(png/google.png); background-repeat: no-repeat; }

.icon-logo-white { background-image: url(png/logo-white.png); background-repeat: no-repeat; }

.icon-logo { background-image: url(png/logo.png); background-repeat: no-repeat; }

.icon-mobile-menu { background-image: url(png/mobile-menu.png); background-repeat: no-repeat; }

.icon-next-arrow { background-image: url(png/next-arrow.png); background-repeat: no-repeat; }

.icon-prev-arrow { background-image: url(png/prev-arrow.png); background-repeat: no-repeat; }

.icon-rss { background-image: url(png/rss.png); background-repeat: no-repeat; }

.icon-search { background-image: url(png/search.png); background-repeat: no-repeat; }

.icon-share { background-image: url(png/share.png); background-repeat: no-repeat; }

.icon-site-contact { background-image: url(png/site-contact.png); background-repeat: no-repeat; }

.icon-site-donate { background-image: url(png/site-donate.png); background-repeat: no-repeat; }

.icon-site-events { background-image: url(png/site-events.png); background-repeat: no-repeat; }

.icon-site-issues { background-image: url(png/site-issues.png); background-repeat: no-repeat; }

.icon-site-share { background-image: url(png/site-share.png); background-repeat: no-repeat; }

.icon-twitter-bird-white { background-image: url(png/twitter-bird-white.png); background-repeat: no-repeat; }

.icon-twitter-bird { background-image: url(png/twitter-bird.png); background-repeat: no-repeat; }

.icon-twitter { background-image: url(png/twitter.png); background-repeat: no-repeat; }