.icon-1 { background-image: url(png/1.png); background-repeat: no-repeat; }

.icon-2 { background-image: url(png/2.png); background-repeat: no-repeat; }

.icon-3 { background-image: url(png/3.png); background-repeat: no-repeat; }

.icon-4 { background-image: url(png/4.png); background-repeat: no-repeat; }

.icon-arrow { background-image: url(png/arrow.png); background-repeat: no-repeat; }

.icon-arrow1_lrg { background-image: url(png/arrow1_lrg.png); background-repeat: no-repeat; }

.icon-arrow1_med { background-image: url(png/arrow1_med.png); background-repeat: no-repeat; }

.icon-arrow1_sml { background-image: url(png/arrow1_sml.png); background-repeat: no-repeat; }

.icon-arrow3 { background-image: url(png/arrow3.png); background-repeat: no-repeat; }

.icon-daoma_logo_black { background-image: url(png/daoma_logo_black.png); background-repeat: no-repeat; }

.icon-daoma_logo_magenta { background-image: url(png/daoma_logo_magenta.png); background-repeat: no-repeat; }

.icon-daoma_logo_magenta_w-shdw { background-image: url(png/daoma_logo_magenta_w-shdw.png); background-repeat: no-repeat; }

.icon-daoma_logo_white { background-image: url(png/daoma_logo_white.png); background-repeat: no-repeat; }

.icon-event-circles_lines { background-image: url(png/event-circles_lines.png); background-repeat: no-repeat; }

.icon-facebook { background-image: url(png/facebook.png); background-repeat: no-repeat; }

.icon-flightpath { background-image: url(png/flightpath.png); background-repeat: no-repeat; }

.icon-flightpath5 { background-image: url(png/flightpath5.png); background-repeat: no-repeat; }

.icon-flightpath6 { background-image: url(png/flightpath6.png); background-repeat: no-repeat; }

.icon-header_join { background-image: url(png/header_join.png); background-repeat: no-repeat; }

.icon-hero-circles_lineshape-down { background-image: url(png/hero-circles_lineshape-down.png); background-repeat: no-repeat; }

.icon-hero-circles_lineshape-up { background-image: url(png/hero-circles_lineshape-up.png); background-repeat: no-repeat; }

.icon-hero-presentor_lineshape { background-image: url(png/hero-presentor_lineshape.png); background-repeat: no-repeat; }

.icon-shape_about { background-image: url(png/shape_about.png); background-repeat: no-repeat; }

.icon-shape_footer { background-image: url(png/shape_footer.png); background-repeat: no-repeat; }

.icon-shape_grey-triangles { background-image: url(png/shape_grey-triangles.png); background-repeat: no-repeat; }

.icon-shape_grey-triangles2 { background-image: url(png/shape_grey-triangles2.png); background-repeat: no-repeat; }

.icon-shape_intro { background-image: url(png/shape_intro.png); background-repeat: no-repeat; }

.icon-shape_partners { background-image: url(png/shape_partners.png); background-repeat: no-repeat; }

.icon-twitter { background-image: url(png/twitter.png); background-repeat: no-repeat; }