.icon-1, .creative-class h3.one ~ .content {
  background-image: url(png/1.png);
  background-repeat: no-repeat; }

.icon-2, .creative-class h3.two ~ .content {
  background-image: url(png/2.png);
  background-repeat: no-repeat; }

.icon-3, .creative-class h3.three ~ .content {
  background-image: url(png/3.png);
  background-repeat: no-repeat; }

.icon-4-01 {
  background-image: url(png/4-01.png);
  background-repeat: no-repeat; }

.icon-4, .creative-class h3.four ~ .content {
  background-image: url(png/4.png);
  background-repeat: no-repeat; }

.icon-airportcodes {
  background-image: url(png/airportcodes.png);
  background-repeat: no-repeat; }

.icon-arrow, footer ul li.next a {
  background-image: url(png/arrow.png);
  background-repeat: no-repeat; }

.icon-daoma_logo_black {
  background-image: url(png/daoma_logo_black.png);
  background-repeat: no-repeat; }

.icon-daoma_logo_magenta {
  background-image: url(png/daoma_logo_magenta.png);
  background-repeat: no-repeat; }

.icon-daoma_logo_magenta_w-shdw, footer #ftr-logo a {
  background-image: url(png/daoma_logo_magenta_w-shdw.png);
  background-repeat: no-repeat; }

.icon-daoma_logo_white, #logo a {
  background-image: url(png/daoma_logo_white.png);
  background-repeat: no-repeat; }

.icon-facebook, footer ul li.facebook a {
  background-image: url(png/facebook.png);
  background-repeat: no-repeat; }

.icon-flightpath {
  background-image: url(png/flightpath.png);
  background-repeat: no-repeat; }

.icon-flightpath5 {
  background-image: url(png/flightpath5.png);
  background-repeat: no-repeat; }

.icon-flightpath6 {
  background-image: url(png/flightpath6.png);
  background-repeat: no-repeat; }

.icon-header_join {
  background-image: url(png/header_join.png);
  background-repeat: no-repeat; }

.icon-shape_about {
  background-image: url(png/shape_about.png);
  background-repeat: no-repeat; }

.icon-shape_footer, .fadein_content {
  background-image: url(png/shape_footer.png);
  background-repeat: no-repeat; }

.icon-shape_intro {
  background-image: url(png/shape_intro.png);
  background-repeat: no-repeat; }

.icon-shape_partners {
  background-image: url(png/shape_partners.png);
  background-repeat: no-repeat; }

.icon-triangle_shapes_grey {
  background-image: url(png/triangle_shapes_grey.png);
  background-repeat: no-repeat; }

.icon-twitter, footer ul li.twitter a {
  background-image: url(png/twitter.png);
  background-repeat: no-repeat; }

/*
 * Specific layout styles.
 *
*/
/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Miscellaneous style fixes/hacks for browser inconsistencies or issues that could potentially be resolved at some point in the future.
   Check relevance on occasion to keep up to date. */
/* Stops ios from changing your font sizes.
   Fixes issue with certain fonts rendering "fat" http://www.lighterra.com/articles/macosxtextaabug/ */
body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

/* No dotted outline when you click links */
a:active {
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  -ms-interpolation-mode: bicubic;
  display: block; }

svg:not(:root) {
  overflow: hidden; }

/* Site specific mixins, colors, and fonts.
   Core element styles.
   Vendor files. (Plugins, custom widgets, etc.) */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 29, 2013 */
@font-face {
  font-family: 'intro_light_capsregular';
  src: url("../type/fontfabric_-_intro-light-caps-webfont.eot");
  src: url("../type/fontfabric_-_intro-light-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../type/fontfabric_-_intro-light-caps-webfont.woff") format("woff"), url("../type/fontfabric_-_intro-light-caps-webfont.ttf") format("truetype"), url("../type/fontfabric_-_intro-light-caps-webfont.svg#intro_light_capsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'intro_bookregular';
  src: url("../type/fontfabric_-_intro-book-webfont.eot");
  src: url("../type/fontfabric_-_intro-book-webfont.eot?#iefix") format("embedded-opentype"), url("../type/fontfabric_-_intro-book-webfont.woff") format("woff"), url("../type/fontfabric_-_intro-book-webfont.ttf") format("truetype"), url("../type/fontfabric_-_intro-book-webfont.svg#intro_bookregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'intro_lightregular';
  src: url("../type/fontfabric_-_intro-light-webfont.eot");
  src: url("../type/fontfabric_-_intro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../type/fontfabric_-_intro-light-webfont.woff") format("woff"), url("../type/fontfabric_-_intro-light-webfont.ttf") format("truetype"), url("../type/fontfabric_-_intro-light-webfont.svg#intro_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'intro_regularregular';
  src: url("../type/fontfabric_-_intro-regular-webfont.eot");
  src: url("../type/fontfabric_-_intro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../type/fontfabric_-_intro-regular-webfont.woff") format("woff"), url("../type/fontfabric_-_intro-regular-webfont.ttf") format("truetype"), url("../type/fontfabric_-_intro-regular-webfont.svg#intro_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'intro_blackregular';
  src: url("../type/fontfabric_-_intro-black-webfont.eot");
  src: url("../type/fontfabric_-_intro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../type/fontfabric_-_intro-black-webfont.woff") format("woff"), url("../type/fontfabric_-_intro-black-webfont.ttf") format("truetype"), url("../type/fontfabric_-_intro-black-webfont.svg#intro_blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'intro_boldregular';
  src: url("../type/fontfabric_-_intro-bold-webfont.eot");
  src: url("../type/fontfabric_-_intro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../type/fontfabric_-_intro-bold-webfont.woff") format("woff"), url("../type/fontfabric_-_intro-bold-webfont.ttf") format("truetype"), url("../type/fontfabric_-_intro-bold-webfont.svg#intro_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'intro_thinregular';
  src: url("../type/fontfabric_-_intro-thin-webfont.eot");
  src: url("../type/fontfabric_-_intro-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../type/fontfabric_-_intro-thin-webfont.woff") format("woff"), url("../type/fontfabric_-_intro-thin-webfont.ttf") format("truetype"), url("../type/fontfabric_-_intro-thin-webfont.svg#intro_thinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* #Colors
===================== */
/* #Fonts
===================== */
.font-sans, h4, h5, body {
  font-family: 'intro_lightregular', sans-serif; }

.font-display, h1, h2, h3, h4, h5, h6, strong, .featured-event .info, .upcoming h2, .events .date, .events .content h3, .creative-class h3, .past-speakers .wrapper h2, .past-speakers .director h2, .past-speakers .feature h1 h2, .feature .past-speakers h1 h2, .past-speakers li p {
  font-family: 'intro_regularregular', sans-serif; }

.font-bold, ul li .emphasis, .events .date span {
  font-family: 'intro_boldregular'; }

.font-thin, .feature h1 {
  font-family: 'intro_thinregular'; }

.font-book, .about p, .featured-event .description, .events .content p {
  font-family: 'intro_bookregular'; }

/* #Typography
===================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #ec008c;
  margin: 0; }

h1 {
  font-size: 4.375em;
  letter-spacing: 5px;
  color: #cccccc; }

h2 {
  font-size: 1.625em;
  letter-spacing: 1.5px;
  line-height: 1.3;
  text-transform: uppercase; }

h3 {
  letter-spacing: 2px;
  font-size: 1.375em;
  line-height: 1.6;
  text-transform: uppercase; }

h4 {
  letter-spacing: 1px;
  font-size: 1.25em;
  line-height: 1.4; }

h5 {
  letter-spacing: 1px;
  font-size: 2.3125em;
  line-height: 1.4; }

h6 {
  color: #cccccc;
  font-size: 2.1875em;
  letter-spacing: 1px;
  line-height: 0; }

p {
  color: #555555;
  font-size: 1.25em;
  letter-spacing: 1px;
  line-height: 1.65;
  margin: 0; }

a {
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  transition: color 0.25s linear;
  color: white;
  text-decoration: none; }
  a:hover {
    color: #ec008c; }

ul {
  list-style: none;
  padding-left: 0px; }

strong {
  font-weight: normal; }

/* #Buttons
===================== */
.btn {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  padding: 20px 60px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  background-color: #ec008c;
  display: inline-block; }
  .btn:hover {
    color: #fff;
    background-color: #313131;
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2); }

/* #Structure
==========================================================================
*/
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #ec008c;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #ec008c;
  color: #fff;
  text-shadow: none; }

img {
  width: 100%;
  display: block; }

/*
==========================================================================
CLEAR FIX - Add class of 'GROUP' to clear floats
==========================================================================
*/
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  *zoom: 1; }

/*********** ABOUT PAGE ***********/
.about-1 {
  background: url("../img/oma.png");
  /*	background-attachment: fixed;
  */
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  margin-top: -500px; }

.about_triangle1 {
  background: url("../img/arrow3.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 500px; }

.about-2 {
  background: url("../img/pkn2.png");
  /*	background-attachment: fixed;
  */
  background-origin: initial;
  background-clip: initial;
  background-size: 100%;
  background-repeat: repeat;
  position: relative;
  height: 550px;
  margin-top: -550px; }

.about_triangle2 {
  background: url("../img/arrow.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 550px; }

/*********** PARTNERS PAGE ***********/
.partners_header {
  background: url("../img/shape_partners.svg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 100px; }

.partners_1 {
  background: url("../img/flyoverpink.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 300px;
  margin-top: -300px; }

.partners_triangle {
  background: url("../img/arrow3.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 300px; }

/*********** MEMBERS PAGE ***********/
.members_header {
  background: url("../img/shape_about.svg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 100px; }

/*********** JOIN PAGE ***********/
.join_header {
  background: url("../img/header_join.svg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 100px; }

.join_1 {
  background: url("../img/flyovergray.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 300px;
  margin-top: -300px; }

@media all and (max-width: 1200px) {
  .about-1 {
    height: 400px;
    margin-top: -400px; }

  .about_triangle1 {
    height: 400px; }

  .about-2 {
    height: 400px;
    margin-top: -400px; }

  .about_triangle2 {
    height: 400px; } }
@media all and (max-width: 1000px) {
  .about-1 {
    height: 350px;
    margin-top: -350px; }

  .about_triangle1 {
    height: 350px; }

  .about-2 {
    height: 350px;
    margin-top: -350px; }

  .about_triangle2 {
    height: 350px; } }
@media all and (max-width: 800px) {
  .about-1 {
    height: 300px;
    margin-top: -300px; }

  .about_triangle1 {
    height: 300px; }

  .about-2 {
    height: 300px;
    margin-top: -300px; }

  .about_triangle2 {
    height: 300px;
    background: url("../img/arrow4.png"); } }
@media all and (max-width: 600px) {
  .about-1 {
    height: 200px;
    margin-top: -200px; }

  .about_triangle1 {
    height: 200px; }

  .about-2 {
    height: 200px;
    margin-top: -200px; }

  .about_triangle2 {
    height: 200px; } }
/*
 * Initial styles and design by Jake Welchert (jakewlechert.com)
 * Styles converted to SCSS and extend upon by Christopher Kollars (christopherkollars.com)
 */
html {
  color: #555555;
  line-height: 1.5;
  padding: 0;
  margin: 0; }

.margin_top {
  margin-top: 3%; }

/*
==========================================================================
TYPOGRAPHY
==========================================================================
*/
/***********Color Overright***********/
.txt-pink {
  color: #ec008c; }

.txt-white {
  color: white; }

.txt-gray {
  color: #555555; }

/*
==========================================================================
STRUCTURE
==========================================================================
*/
.wrapper, .director, .feature h1 {
  max-width: 1140px;
  margin: 0 auto; }

/*********** NAV ***********/
#main-nav {
  min-height: auto;
  background-color: #333333; }
  #main-nav:after {
    content: "";
    display: table;
    clear: both; }
  #main-nav .link {
    float: right;
    margin: 0;
    padding: 0; }
    #main-nav .link li {
      float: left; }
    #main-nav .link a:hover {
      background-color: #313131;
      -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2); }

#logo a {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  width: 96px;
  height: 0;
  overflow: hidden;
  padding-top: 40px;
  float: left;
  margin: 45px 0 0 35px; }
  #logo a:hover {
    opacity: .5; }

/*********** HEADER ***********/
.pink_bkgnd {
  background-color: #de1485; }

.offwhite_bkgnd {
  background-color: whitesmoke; }

.gray_bkgnd {
  background-color: #555555; }

/************ SECTION STYLES **********/
.interior, .about-interior {
  background-color: rgba(245, 245, 245, 0.6);
  padding: 80px 0;
  border-bottom: 1px solid #cccccc; }
  .interior:after, .about-interior:after {
    content: "";
    display: table;
    clear: both; }
  .interior .column, .about-interior .column {
    float: left;
    width: 40%;
    padding-right: 40px;
    text-align: right; }
  .interior .content, .about-interior .content {
    float: left;
    width: 60%; }

.border-btm-gray {
  border-bottom: 1px solid #d9d9d9; }

.border-top-gray {
  border-top: 1px solid #d9d9d9; }

.border-btm-lt-gray {
  border-bottom: 2px solid #f9f9f9; }

.imagebreak {
  position: relative;
  z-index: -1;
  border-bottom: 10px solid #ec008c; }

/************ CREATIVE CLASS HOMEPAGE **********/
.bighover {
  position: relative; }

.large_link-mouseon {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1001;
  height: 100%;
  width: 100%;
  top: 0; }
  .large_link-mouseon:hover {
    opacity: 0; }
  .large_link-mouseon h3 {
    font-family: 'intro_regularregular';
    font-size: 75px;
    text-transform: none;
    color: #ec008c;
    text-align: left;
    width: 60%;
    line-height: 1; }

.one {
  margin-top: 6.5%; }

.two {
  margin-top: 2.5%; }

.three {
  margin-top: 3%; }

.four {
  margin-top: 1%; }

.number {
  width: 80%;
  float: right; }

/*********** LIST STYLES ***********/
ul li {
  color: #333333;
  font-size: 1.25em;
  letter-spacing: 1px;
  line-height: 1.6; }
  ul li .emphasis {
    color: #ec008c;
    font-size: 22px; }
ul h3 {
  padding-bottom: 1%;
  border-bottom: 1px solid #d9d9d9;
  letter-spacing: 1px; }
ul h4 {
  color: #333333;
  line-height: 2px;
  letter-spacing: 1px; }

.zero_pad_top {
  padding-top: 0; }

.address_pad_top {
  padding-top: 3%; }

.join_sub_border {
  border-top: 1px solid #d9d9d9;
  padding: 6% 0 3% 0;
  margin-top: 8%; }

.join_sub_border-1 {
  padding-top: 0;
  margin-top: 0;
  border-top: none; }

.no-border {
  border-bottom: none; }

/*********** ABOUT ***********/
.about-interior {
  padding: 80px 0; }
  .about-interior:after {
    content: "";
    display: table;
    clear: both; }
  .about-interior h2 {
    float: left;
    text-align: right;
    width: 40%;
    padding-right: 40px; }
  .about-interior .content {
    float: left;
    width: 60%; }

/*********** Board of Directors LIST STYLES ***********/
.board-directors {
  background-color: rgba(245, 245, 245, 0.6); }

.director {
  list-style: none outside none;
  padding: 40px 0; }
  .director:after {
    content: "";
    display: table;
    clear: both; }
  .director:first-child h5 {
    font-size: 2.3125em; }
  .director:first-child p {
    font-size: 1.25em; }
  .director img {
    float: left;
    margin-left: 10%;
    border-radius: 50%;
    width: 24%; }
  .director .content {
    margin-left: 40%; }
  .director h3 {
    font-size: 1.25em;
    padding-top: 20px; }
  .director p {
    font-size: 0.9375em;
    line-height: 1.8;
    padding-right: 6%; }

/*********** POST PAGE ***********/
.post_pg_body {
  max-width: 900px; }
  .post_pg_body p {
    padding-top: 3%; }
  .post_pg_body h2 {
    font-size: 3.4375em;
    padding-top: 3%; }
  .post_pg_body h3 {
    letter-spacing: 2px;
    font-size: 1.5625em;
    line-height: 1.6;
    text-transform: uppercase;
    color: #333333; }
  .post_pg_body h4 {
    font-size: 1.375em;
    line-height: 1.6;
    color: #888888; }

/*
==========================================================================
FOOTER
==========================================================================
*/
footer {
  margin-top: 306px; }
  footer nav:after {
    content: "";
    display: table;
    clear: both; }
  footer #ftr-logo {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 40px; }
    footer #ftr-logo a {
      background-size: contain;
      display: block;
      width: 100px;
      height: 50px;
      text-indent: -9999em; }
  footer ul {
    margin: 0;
    padding: 0;
    float: right;
    text-transform: uppercase;
    letter-spacing: 2px; }
    footer ul li {
      float: right; }
    footer ul a {
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      transition: all 0.25s linear;
      display: block;
      height: 0;
      width: 120px;
      padding-top: 120px;
      overflow: hidden;
      background-position: center center; }
      footer ul a:hover {
        -webkit-box-shadow: inset 0 0 10px #f0f0f0;
        box-shadow: inset 0 0 10px #f0f0f0; }

.shape_footer {
  float: left;
  width: 60%; }

.logo_footer {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 120px;
  z-index: 100; }

.social_footer {
  position: absolute;
  bottom: 0;
  right: 0; }

input {
  display: none; }
  input:checked + label {
    background: #333;
    color: #ec008c; }

label {
  background: #333;
  cursor: pointer;
  padding: 40px 50px;
  float: right;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #fff;
  font-size: 25px; }
  label:hover {
    color: #ec008c; }

/*
==========================================================================
  #HIDDEN NAVIGATION
==========================================================================
*/
.hidden_nav {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  max-height: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%; }

input:checked ~ .hidden_nav {
  max-height: 700px; }

.hidden_nav li {
  font-size: 35px;
  list-style: none;
  margin: 0 auto;
  text-align: center; }

/*
==========================================================================
  #HOME PAGE
==========================================================================
*/
/*********** FEATURE ***********/
.feature .content {
  position: absolute;
  z-index: 1;
  width: 100%; }
.feature h1 {
  color: white;
  line-height: 1;
  font-size: 8.125em;
  text-transform: uppercase;
  padding-top: 28%; }

.about {
  background: #ec008c; }
  .about p {
    color: white;
    text-align: center;
    padding: 130px 0;
    font-size: 1.5em; }

.featured-event {
  padding: 60px 0; }
  .featured-event article > a {
    display: block;
    min-height: 460px;
    margin-bottom: 60px; }
    .featured-event article > a h2 {
      position: absolute;
      z-index: 1;
      text-transform: none;
      height: inherit; }
    .featured-event article > a strong {
      text-transform: uppercase; }
  .featured-event .info {
    width: 35%;
    padding-right: 55px; }
    .featured-event .info p {
      font-size: 1em;
      line-height: 2; }
    .featured-event .info strong {
      color: #ec008c; }
    .featured-event .info .btn {
      width: 300px;
      margin-top: 40px; }
  .featured-event .description {
    width: 65%; }
    .featured-event .description p {
      font-size: 1.125em; }
    .featured-event .description strong {
      color: #ec008c; }
  .featured-event h2 {
    font-size: 7.75em;
    color: white; }

.upcoming {
  background: whitesmoke;
  padding: 60px 0; }
  .upcoming h2 {
    color: #333333;
    font-size: 1.875em;
    text-transform: none;
    margin-bottom: 30px; }

.events {
  display: table;
  max-width: 1140px;
  background: #ebebeb;
  max-height: 150px;
  margin-top: 20px; }
  .events:after {
    content: "";
    display: table;
    clear: both; }
  .events:first-child {
    margin-top: 0; }
  .events .date {
    display: table-cell;
    width: 150px;
    vertical-align: middle;
    background: #ec008c;
    color: white;
    font-size: 1.625em;
    line-height: 1;
    text-align: center; }
    .events .date span {
      font-size: 3.125em; }
  .events .thumb {
    display: table-cell;
    width: 440px; }
  .events .content {
    display: table-cell;
    width: 550px; }
    .events .content h3 {
      text-transform: none;
      color: #333333;
      font-size: 1.5em;
      line-height: 1.5; }
    .events .content p {
      font-size: 1em;
      line-height: 1.2;
      letter-spacing: none; }

.classification {
  background-color: rgba(245, 245, 245, 0.6);
  padding: 60px 0;
  border-bottom: 1px solid #cccccc; }
  .classification h5 {
    font-size: 2.3125em;
    line-height: 1.4;
    margin-left: 40%; }
  .classification p {
    margin-left: 40%; }

.creative-class {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: rgba(245, 245, 245, 0.6);
  padding: 60px 0;
  border-bottom: 1px solid #cccccc;
  height: 360px; }
  .creative-class:hover {
    background-color: white; }
    .creative-class:hover .content {
      opacity: 1; }
    .creative-class:hover h3 {
      opacity: 0; }
  .creative-class .wrapper, .creative-class .director, .creative-class .feature h1, .feature .creative-class h1 {
    position: relative; }
    .creative-class .wrapper:after, .creative-class .director:after, .creative-class .feature h1:after, .feature .creative-class h1:after {
      content: "";
      display: table;
      clear: both; }
  .creative-class h3 {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
    position: absolute;
    vertical-align: middle;
    text-transform: none;
    font-size: 4.6875em;
    line-height: 1;
    width: 100%;
    padding-left: 40%; }
  .creative-class .content {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
    background-position: 70px 0;
    height: 230px;
    opacity: 0; }
    .creative-class .content p {
      margin-left: 40%; }

.past-speakers {
  background-color: #333333; }
  .past-speakers .wrapper, .past-speakers .director, .past-speakers .feature h1, .feature .past-speakers h1 {
    padding: 40px 0; }
    .past-speakers .wrapper h2, .past-speakers .director h2, .past-speakers .feature h1 h2, .feature .past-speakers h1 h2 {
      font-size: 1.875em;
      text-transform: none; }
    .past-speakers .wrapper p, .past-speakers .director p, .past-speakers .feature h1 p, .feature .past-speakers h1 p {
      color: white; }
  .past-speakers ul {
    padding: 0;
    margin: 0; }
    .past-speakers ul:after {
      content: "";
      display: table;
      clear: both; }
  .past-speakers li {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 2px;
    background: white; }
    .past-speakers li:hover img {
      opacity: 1; }
    .past-speakers li:hover p {
      opacity: 0; }
    .past-speakers li img {
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      transition: all 0.4s linear;
      opacity: .2; }
    .past-speakers li p {
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      transition: all 0.2s linear;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 40%;
      height: 20%;
      margin: auto;
      text-align: center;
      color: #cccccc; }
      .past-speakers li p span {
        color: #ec008c; }

.fadein_content {
  background-position: left bottom;
  background-size: 60%; }
